.paginate {
  margin-top: 24px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paginate__count {
  margin-right: 6px;

  color: var(--color-font-secondary);
  font-size: 14px;
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
}

.pagination__page {
  margin: 0 5px;
}

.pagination__page_prev,
.pagination__page_next {
  margin: 0 10px;
}

.pagination__link, 
.pagination__link_prev,
.pagination__link_next {
  height: 25px;
  min-width: 21px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  cursor: pointer;
}

.pagination__break {
  color: var(--color-font-secondary);
  cursor: pointer;
}

.pagination__link {
  padding: 0 6px;

  color: var(--color-font-secondary);
  background-color: transparent;
  border-radius: 3px;
}


.pagination__link:hover,
.pagination__break:hover {
  color: var(--color-primary);
}

.pagination__link_prev:hover svg path,
.pagination__link_next:hover svg path{
  fill: var(--color-primary);
}

.selected .pagination__link{
  color: var(--color-white);
  background-color: var(--color-primary);
  opacity: 1;
}

@media (max-width: 991px) {
  .paginate {
    flex-direction: column;
  }

  .paginate__count {
    margin: 0 0 16px;
  }
}

@media (max-width: 450px) {
  .pagination__page, .break {
    display: none;
  }

  .selected {
    display: block;
    margin: 0 24px;
  }

  .pagination__link, 
  .pagination__link_prev,
  .pagination__link_next {
    width: 40px;
  }
}