.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.loader__loader {
  width: 110px;
  height: 110px;
  
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--color-font-secondary);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}